body{
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.125rem;
    font-family: 'Ubuntu', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}


/* Header */

header {
    background-color:#F8F8F8;
    display: flex;
    justify-content: center;
}


.site-title{
    margin: 105px 0;
}

/* Typography  */

h1, h2, h3, .article-title{
    font-family: 'Lora';
    font-weight: 400;
    color: #143774;
}

a {
    color: inherit; /* This will make the link inherit the color of its parent element */
    text-decoration: none; /* This will remove the underline from the link */
}

.site-title h1{
    font-size: 2.0625rem;
    margin: 0;
}

.subtitle{
    font-size: 0.75rem;
    color: #1792D2;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    margin: 0;
}

.article-title{
    font-size: 1.5rem;
}

.article-read-more{
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1792D2;
}

.article-read-more:hover,
.article-read-more:focus{
    text-decoration: underline;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #143774;
}

.article-info{
    font-size: .875rem;
    color: #A0A0A0;
}

/* Navigation */

nav{
    display: flex;
    flex-direction: column;
}

nav ul{
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    text-align: right;
}

nav ul li{
    margin-left: 1rem;
}

/* Main */



.article-image{
    max-width: 200px;
}

.container{
    width: 90%;
    max-width: 1040px;
}

.container-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 675px){
    .container-flex{
        flex-direction: row;
    }

    main{
        width: 75%;
    }
    
    aside{
        width: 20%;
    }
    
    nav{
        display: flex;
        flex-direction: column;
    }
}